/*
 SPDX-License-Identifier: GPL-2.0+

 Copyright © 2022 Collabora Ltd
 Copyright © 2022 Valve Corporation
*/

.notready {
  margin-left: 15px;
  color: rgb(178, 7, 48 );
  font-size: 15px;
}

html {
  min-height:100%
}
body {
  background-color: #78797a;
  background-size: cover;
  overflow: hidden;
  margin:unset;
  margin-top:0px;
  min-height:100%;
  font-family: Helvetica, sans-serif;

}
p, h4 {
  margin: unset;
  padding: unset;
}

td > p {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.bold {
  padding-left: 10px;
  font-family:  Helvetica, sans-serif;
  color: #444444;
}

table {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 100%;
}

tr {
  vertical-align: bottom;
}

.container {
  display: inline;
}

.title {
  width: 100%;
}

#button_status {
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
}

.btn {
  background-color: rgba(90, 90, 90, 1.0);
  height: 30px;
}

#ok_button, #clearlogbtn, #close1, #reboot1 {
  width: 100px;
  height: 40px;
  background-color: rgba(90, 90, 90, 1.0);
  border-radius: 2px;
  margin: 10px 10px;
  border: none;
  color: #999999;
}

.checkbox {
  margin-left: 100px;
  margin-right: 20px;
}

.image-selection-box {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: rgba(90, 90, 90, 1.0);
  height: 50px;
}

.image-selection-box > label {
 margin-left: 15px;
 margin-top: 10px;
 margin-bottom: 5px;
 color: #999999;
 font-size: 15px;
}

#images {
  margin-left: 20px;
  width: 70%;
}

select {
 margin-top: 10px;
 right: 1px;
 height: 30px;
 width: 50%;
 background-color: rgb(140, 140, 140); /*#636262;*/
 color: #444444;
}

table.row {
 background-color: rgb(140, 140, 140); /*#636262;*/
 /*color: #540808;*/
 color: #302e2e;
}

#operation_status {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#cancel_button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: #999999;
}

#action_status {

}

#action_label {
  color:#382424;
}

#action_log {
 display:block;
 width:80%;
 height: 300px ;
 background-color: black; /*rgb(140, 140, 140); /*#636262;*/
 min-width: 400px;
 color:#AAAAAA;
 padding: 10px;
 align-content:left;
}

#image_type {
  margin-left: 20px;
}

dl {
  padding: 10px;
}
dt {
  color: #403e3e;
}

dd {
  padding-bottom:5px;
  font-size: 20px;
}

#top_header {
  margin-top:10px;
  margin-bottom: 2px;
  width: 100%;
  background-color: rgb(140, 140, 140); /*#636262;*/
}

#log_title {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

select:focus, textarea:focus, input:focus{
    outline: 5px;
}

.button:hover {
  cursor:pointer;
  border: 2px;
  border-color:blue;
  color: #f00;
  background-color: #991111;
}
.button:active {
  cursor:pointer;
  background: blue;
}

